body
{
	background-image: url('rogbg.jpg');
	background-repeat: no-repeat;
	align-items: center;
}

table	
{
	width: 90%;
	align-items: center;
	background-color: #a69b97;
}
tr,th
{
	width: 140px;
}

.header
{
	font-family: verdana;
	font-weight: 700;
	text-align: center;
	color: white;
}

img
{
	align-items: center;
}