body
{
	background-image: url('rogbg.jpg');
	background-repeat: no-repeat;
	align-items: center;
}

.table1
{
	width: 90%;
	align-items: center;
	background-color: #a69b97;
	

}
.table1 th,td	
{
	text-align: center;
	font-weight: 600;
	table-layout:fixed;
  width:50px;
  overflow:hidden;
  word-wrap:break-word;
}





.header
{
	font-family: verdana;
	font-weight: 700;
	text-align: center;
	color: white;
}

